.menu_mobil{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90vh;
    background-color: black;
    color: aliceblue;
    left: 0;
    
    
    
}

.open{
   
    transform: translateX(-100);
    
}