.footerContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 300px;
    background-color: black;
    color: aliceblue;
}
.contactenos{
    margin: 50px 20px;
    width: 220px;
    height: auto;
    
}

p{
    justify-content: start;
    text-align: left;
}
